html {
    font-family: serif;
    font-size: 18px;
    max-width: 968px;
    margin: auto;
}

li {
    line-height: 175%;
}

p {
    line-height: 150%;
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
}

section#experience {
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
}